<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
    <filter>
        <filter-name>autenticacaoFilter</filter-name>
        <filter-class>br.com.orientacoes.controller.AutenticacaoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>autenticacaoFilter</filter-name>
        <url-pattern>/professor</url-pattern>
        <url-pattern>/professor-novo</url-pattern>
        <url-pattern>/orientacao</url-pattern>
        <url-pattern>/orientacao-novo</url-pattern>
    </filter-mapping>
</web-app>